.centered {
  /* border: 1px solid red; */
  /* position: absolute; */
  position: absolute;
  z-index: 1;
  /* top: 50%;
  left: 30%; */
  text-align: center;
  width: 100vw;
  top: 30%;
}
h1 {
  font-size: 5rem;
  color: white;
}
p {
  color: white;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin-top: 500px;
}
footer {
  margin-top: 150px;
}
.btn {
  background-color: transparent;
  padding-top: 200px;
  font-size: 9px;
  color: #fff;
  border: 1px solid white;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  padding: 14px;
}
.btn:hover {
  background-color: white;
  color: black;
}
