@font-face {
  font-family: "oswald";
  src: url(../public/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: "pos";
  src: url(../public/fonts/Poppins-ExtraLight.ttf);
}

.App {
  text-align: center;
  /* max-width: 1100px; */
  margin: auto;
  overflow: auto;
  /* padding: 0 2rem; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.gray-back {
  margin-top: 100px;
  background-color: #eceae8;
  width: 80vw;
  height: 30vh;
  z-index: -100;
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pink-back {
  background-color: rgb(245, 110, 110);
  width: 400px;
  height: 500px;
  padding: 20px;
  margin: 20px;
}
.blue-back {
  background-color: rgb(66, 38, 226);
  width: 600px;
  height: 500px;
  padding: 20px;
  margin: 20px;
}
.fullscreenImg {
  /* border: 10px solid red; */
  /* Full height */
  height: 100vh;
  width: 100vw;
  aspect-ratio: 16 / 9;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat; */
  background-size: cover;
}
.bg {
  /* border: 10px solid pink;
  width: 100vw;
  height: 100vh;
  background-image: url(https://twimg0-a.akamaihd.net/a/1350072692/t1/img/front_page/jp-mountain@2x.jpg);
  background-size: cover; */
  /* background-attachment: fixed; */
  /* margin: 0; */
  /* padding: 0; */
}
img {
  z-index: 999 !important;
}
.filmWheelAndAboutMe {
  display: flex;
  /* border: 3px solid blue; */
  justify-content: space-around;
  margin-bottom: 100px;
  text-align: left;
  color: #001a66;
}
.filmWheelPic {
  /* border: 3px solid red; */
  width: 50%;
  margin-top: -300px;
}
.aboutMe {
  /* border: 3px solid orange; */
  margin-top: -300px;
  width: 800px;
}
.aboutMeHeaderText {
  /* font-weight: 600; */
  /* font-family: pos; */
  font-weight: 600;
  font-size: 60px;
}
div {
  font-family: sans-serif;
}
.aboutMeDescription {
  margin-top: 40px;
  font-family: pos;
  font-weight: 200;
}
.oswald {
  font-family: oswald;
}
